.cards {
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (width: 1280px) {
    .notes {
        text-align: left;
        padding-left: 55vh;
    }
}

@media not all and (width: 1280px) {
    .notes {
        text-align: center;
    }
}

.notes {
    padding-top: 2vh;
    font-size: 3vh;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin: 1vh;
}

.design {
    text-align: center;
    border: 0.3vh solid gray;
    padding: 1vh;
    border-left: none;
    display: inline-block;
    margin-top: 2vh;;
    border-radius: 0 10px 10px 0;
    margin-bottom: 2vh;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

@media screen and (max-width: 820px) {
    .cards {
        justify-content: space-around;
        margin-left: 0;
    }
}

@media screen and (width: 912px) and (height: 1368px){
    .cards {
        margin-left: 12vh;
    }

    .design {
        font-size: 2vh;
    }
}

@media screen and (min-width: 821px) {
    .cards {
        justify-content: flex-start;
    }
}