.card {
    width: 40vh;
    height: 34vh; /* =width*0,85 */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}

.note1, .note3, .note4, .note5, .note6 {
    width: 88%;
    height: 83%;
    border-radius: 2vh;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
    font-size: 2vh; /* =new_width/prev_width*prev_size */
}

@media screen and (width: 820px), screen and (width: 768px) {
    .card {
        width: 30vh;
        height: 25.5vh;
    }

    .card1, .card2, .card3, .card4, .card5, .card6 {
        font-size: 1.5vh;
    }

}